# PH DONASSOLO - CONFIGURAÇÃO AMBIENTE
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Exceção para a pasta do WordPress
    RewriteRule ^wordpress/ - [L,NC]

    # Servir arquivos estáticos se existirem
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule . - [L]

    # NÃO redirecionar scripts para o index.html
    RewriteCond %{REQUEST_URI} \.(tsx|ts|js|jsx|css|json)$ [NC]
    RewriteRule . - [L]

    # SPA Routing
    RewriteRule ^ index.html [L]
</IfModule>

<IfModule mod_mime.c>
    # Fundamental para o Babel no cPanel reconhecer os arquivos
    AddType application/javascript .tsx
    AddType application/javascript .ts
</IfModule>

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    <FilesMatch "\.(tsx|ts|html)$">
        Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
    </FilesMatch>
</IfModule>